// main
$fontFamily: "Inter";
$fontSize: 18;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1200;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: var(--white); // Цвет шрифта по умолчанию

:root {

    // additional colors
    --white: #F9F9F9;
    --black: #131313;
    --blue: #A7A5C5;
    --dark-blue: #1A1B30;
    --accent-one: #22C6EA;
    --accent-two: #22233E;
}



// others vars
$transitionSpeed: 0.3s;
$transitionFunction: ease-in-out;



// break points
$desktop: $containerWidth+px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;
